.holland-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.holland-link {
    color: #007bff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.holland-link:hover {
    text-decoration: underline;
}

/* Align clock icon beside the paragraph */
.time-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Space between text and icon */
}

.clock-icon {
    font-size: 1.2rem;
    color: #007bff;
}

    .custom-button {
        background-color: #007bff;  /* Correct syntax */
        border: none;               /* Correct syntax */
        color: white;               /* Correct syntax */
        padding: 15px 32px;         /* Correct syntax */
        text-align: center;         /* Correct syntax */
        text-decoration: none;      /* Correct syntax */
        display: inline-block;      /* Correct syntax */
        font-size: 16px;            /* Correct syntax */
        margin: 4px 2px;            /* Correct syntax */
        cursor: pointer;           /* Correct syntax */
        border-radius: 12px;        /* Correct syntax */
        min-width: 12rem;
    }
    
    .custom-button:hover {
        background-color: #0056b3 ;  /* Darker blue on hover */
    }
    .text-lg {
        font-size: 1.2rem;
        line-height: 0.8rem;
        margin-bottom: 20px;
    }

