.home-page {
    background-image: url('../images/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    direction: ltr;
    padding: 50px;
}

.home-header {
    text-align: right;
    margin-bottom: 5px;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
}

.home-section {
    /* margin-bottom: 10px;  */
    max-width: 600px;
    text-align: right;
}

.home-section p {
    direction: rtl;
    line-height: 1.6;
    font-size: 1.1em; /* הגדלת גודל טקסט */
    margin-top: 0;
}

.demo-button,
.register-button {
    padding: 10px 20px;
    background-color: #5b32ee;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

.demo-button:hover,
.register-button:hover {
    background-color: #5b32ee;
}

.home-footer {
    text-align: right;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.footer-section {
    font-size: 0.9em;
}


