.p-steps {
    display: flex;
    justify-content: center;
    gap: 0; /* Removes extra space between steps */
}

.p-steps-item {
    flex-grow: 1;
    position: relative;
    min-width: auto;
}

.p-steps-item .p-menuitem-link {
    background-color: #007bff18; 
    color: white;
    font-weight: bold;
    padding: 12px 50px; /* Adjust padding for better arrow shape */
    text-align: center;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
 
    transition: background-color 0.3s;
}

.p-steps-item .p-menuitem-link:hover {
    /* background-color: #0056b3; Darker blue on hover */
}



.p-steps-item.p-highlight .p-menuitem-link {
    background-color:  #47b0e4a4; 
  
}

.p-steps-item:last-child .p-menuitem-link {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

}
.p-steps .p-steps-item::before {
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
}


.p-steps .p-steps-number {
    display: none !important;  /* Hides the number inside the circle */
}

.p-steps .p-steps-item .p-steps-title {
    margin-left: 0 !important; /* Adjusts text position */
    height: 10vh;
}

.p-steps .p-steps-item .p-steps-marker {
    display: none !important;  /* Hides the entire circle */
  
}